
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.navbar{
    height: 20vh;
    width: 100vw;
   
    display: flex;
    justify-content: space-evenly;
   }
.navlogo{
    margin-right: 300px;
    width: 250px;
    height: 20vh;
    background-image: url("logo.png");
    background-size: cover;
    border-radius: 6px;

}
.written{
    margin-right: 50px;
    width: 700px;
   color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
    
}
.baki{
    width: 100vw;
    height: 80vh;
    display: flex;
    
}
    

.hi{
    margin-left: 100px;
    width: 100vh;

    color: black;
    display: flex;
    font-size: 2rem;
}
.hand{
     margin-top: 33px;
     margin-left: 20PX;
     color: yellow;
}
.des{
    width: 80vh;
    height: 20vh;
    font-size: 1.5rem;
    margin-left: 40px;
    margin-bottom:10vh;
    color: black;
    
}
.logos{
    width: 400px;;
   
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
}
.fb{
    width: 40px;
    height: 40px;
    background-image: url("fb.png");
    background-size: cover;
}
.gog{
    width: 40px;
    height: 40px;
    background-image: url("gog.png");
    background-size: cover;
}
.twit{
    width: 40px;
    height: 40px;
    background-image: url("twit.png");
    background-size: cover;
}




.insta{
    width: 40px;
    height: 40px;
    background-image: url("insta.png");
    background-size: cover;
}
.link{
    width: 40px;
    height: 40px;
    background-image: url("link.png");
    background-size: cover;
}


.bye{
    width: 500px;
    height: 500px;
 background-image: url("logo2.1.png.jpg");
 border-radius: 10px;
}
.contactm{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    color: black;
    font-size: 1.1rem;
    border-radius: 4px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landji{
    display: flex;
}
.see{
    width: 160px;
    height: 30px;
    color: black;
    font-size: 1.1rem;
    border-radius: 4px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
.part2{
    display: flex;
}
.what{
    font-size: 1.7rem;
    color: black;
    margin-left: 80px;
    margin-top: 200px;
}
.img{
    width: 500px;
    height: 500px;
    background-image: url("img2.png");
    background-size: cover;
    margin-top: 100px;
     margin-left:100px ;
     border-radius: 6px;
}
.crazy{
    font-size: 1.1rem;
    color: black;
    margin-left: 80px;
}
.icons{
    width: 600px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    margin-left: 80px;
    background-color: turquoise;
}
.bhaak{
    font-size: 1.1rem;
    margin-left: 80px;
    margin-top: 20px;
}
.bhaak1{
    font-size: 1.1rem;
    margin-left: 80px;
    margin-top: 20px;
}
.bhaak2{
    font-size: 1.1rem;
    margin-left: 80px;
    margin-top: 20px;
}
.part3{
    display: flex;
}
.Prof{
    font-size: 2.9rem;
    margin-left: 100px;
    margin-top: 150px;
}
.front{
    font-size: 1.7rem;
    margin-left:100px ;
    margin-top:50px ;
}
.ici{
    font-size: 2rem;
    margin-left: 100px;
    margin-top: 15px;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: yellow;
    background-color: ;
}
.back{
    font-size: 1.7rem;
    margin-left:100px ;
    margin-top:50px ;
}
.ici1{
    font-size: 2rem;
    margin-left: 100px;
    margin-top: 15px;
    width: 250px;
    height: 50px;
    color: yellow;
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.prog{
    font-size: 1.7rem;
    margin-left:100px ;
    margin-top:50px ;
}
.ici2{
    font-size: 2rem;
    margin-left: 100px;
    margin-top: 15px;
    width: 250px;
    height: 50px;
    color: yellow;
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.part3{
    display: flex;
}
.imgi{
    width: 500px;
    height: 500px;
    background-image: url("img3.png");
    background-size: cover;
    margin-left: 250px;
    margin-top: 200px;
box-shadow: 10 px 20px 12 px greenyellow;
}
.line1{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;

}
.box1{
    margin-right: 90px;
    background-color:white;
    justify-content: center;
    margin-top: 50px;
    width: 500px;
    background-color:white;
    box-shadow: 12px 12px 10px  rgb(245, 238, 238);
    margin-left: 80px;

}
.box2{
    margin-right: 90px;
    background-color:white;
    justify-content: center;
    margin-top: 50px;
    width: 500px;
    background-color:white;
    box-shadow: 12px 12px 10px rgb(245, 238, 238);
  
}
.line2{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;

}
.box11{
    margin-right: 90px;
    background-color:white;
    justify-content: center;
    margin-top: 50px;
    width: 500px;
    background-color:white;
    box-shadow: 12px 12px 10px  rgb(245, 238, 238);
    margin-left: 80px;

}
.box12{
    margin-right: 90px;
    background-color:white;
    justify-content: center;
    margin-top: 50px;
    width: 500px;
    
    box-shadow: 12px 12px 10px  rgb(245, 238, 238);
    

}
.f1{
    color: rgb(35, 2, 2);
    font-size: 1.3rem;
    margin-left: 50px;
    font-weight: bold;
}
.f2{
    color: rgb(35, 2, 2);
    font-size: 1.1rem;
    margin-left: 50px;
    font-weight: bold;
}
.f3{
    color: rgb(35, 2, 2);
    font-size: 1.1rem;
    margin-left: 50px;
    font-weight: bold;
}
.bd{
    font-size: 2.5rem;
    font-weight: bold;
    color:rgb(71, 61, 61);
    margin-left: 500px;
    margin-top: 100px;
}
.project{
    width: 1330px;
margin-bottom: 40px;
    height:800px ;
    
   
}
.pehla{
    display: flex;
}
.one{
    width: 600px;
    height: 350px;
    background-color: brown;
    background-image: url("amzan.png.png");
    background-size: cover;
    margin-top: 30px;
    margin-left: 40px;
}
.two{
    width: 600px;
    height: 350px;
    background-color: brown;
    background-image: url("calc.png.png");
    background-size: cover;
    margin-top: 30px;
    margin-left: 40px;
}
.dusra{
    display: flex;
}
.three{
    width: 600px;
    height: 350px;
    background-color: brown;
    background-image: url("resume.png.png");
    background-size: cover;
    margin-top: 30px;
    margin-left: 40px;
}
.chautha{
    width: 600px;
    height: 350px;
    background-color: brown;
    background-image: url("land.png.png");
    background-size: cover;
    margin-top: 30px;
    margin-left: 40px;
}